<?page contentType="text/html;charset=UTF-8" ?> 

<?xel-method prefix="wf" name="getLabel" class="com.ncr.webfront.core.language.WebFrontZkLabelsLocator"  signature="String getLabel(String)"?>

<zk>
	<div apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.posidcjrnservice.viewmodel.HeaderSearchViewModel')"
		validationMessages="@id('vmsgs')">
	
		<vbox width="100%" height="100%">
			<div height="5px" />
			<vbox height="90%" hflex="1">
							
				<hbox sclass="titlebar" hflex="1" align="center"
					pack="center" width="100%">
					<label>${wf:getLabel('web.base.functionalities.transactions.filter.title')}</label>	
				</hbox>
				<vbox width="100%" hflex="1" sclass="content">
					<hbox align="center" pack="center" hflex="1" width="100%" height="70px" >
						<label value="${wf:getLabel('web.base.functionalities.transactions.filter.terminal')}" />
						<textbox maxlength="3" height="20px" value="@bind(vm.terminal)"/>
						
						<label value="${wf:getLabel('web.base.functionalities.transactions.filter.receipt')}" />		
						<textbox maxlength="4" height="20px" value="@bind(vm.receipt)"/>
						
						<label value="${wf:getLabel('web.base.functionalities.transactions.filter.customer')}" />
						<textbox maxlength="13" height="20px" value="@bind(vm.customer)"/>
						
						<label value="${wf:getLabel('web.base.functionalities.transactions.filter.datefrom')}" />
						<datebox value="@bind(vm.dateFrom)" />
						
						<label value="${wf:getLabel('web.base.functionalities.transactions.filter.dateto')}" />
						<datebox value="@bind(vm.dateTo)" />

						<button width="100px" height="30px"
							label="${wf:getLabel('web.base.functionalities.transactions.button.search')}" image="/resources/webfront/common/search.png"
							onClick="@command('searchHeaders')" mold="trendy">
						</button>
					</hbox>
							
					<hbox align="center" width="97%" pack="center" style="margin-left:15px;">
						<listbox width="97%" id="headerListBox" rows="7"			    		   
							model="@bind(vm.listDataHeader)"
							onSelect="@command('selectDataHeader')"
							selectedItem="@bind(vm.selectedDataHeader)"						
							emptyMessage="${wf:getLabel('web.base.functionalities.transactions.table.noresult')}"
							style="margin-top:0px;margin-left:30px;overflow:auto"
							onClick="btnExport.setVisible(true); btnPrintJrn.setVisible(true);">
							<listhead>
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.store')}" />
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.terminal')}" />
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.receipt')}" />
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.date')}" />
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.time')}" />
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.total')}" />
								<listheader width="10%" label="${wf:getLabel('web.base.functionalities.transactions.table.customer')}" />
								<listheader width="15%" label="${wf:getLabel('web.base.functionalities.transactions.table.eod')}" />
								<listheader width="15%" label="${wf:getLabel('web.base.functionalities.transactions.table.filename')}" />
							</listhead>
							<template name="model">
								<listitem>								
									<listcell label="@bind(each.store)" />								
									<listcell label="@bind(each.terminal)" />								
									<listcell label="@bind(each.receipt)" />
									<listcell label="@bind(each.receiptDate)" />
									<listcell label="@bind(each.timestamp)"/>								
									<listcell label="@bind(each.amount)" />								
									<listcell label="@bind(each.customer)" />
									<listcell label="@bind(each.eod)" />
									<listcell label="@bind(each.fileName)" />																
								</listitem>
							</template>
						</listbox>					
					</hbox>
				
				<hbox align="center"
					pack="center" width="97%">
					<listbox width="50%" id="idcListBox" rows="5" hflex="1" vflex="1" 
						model="@bind(vm.selectedDataHeader.idc)"
						emptyMessage="${wf:getLabel('web.base.functionalities.transactions.table.idc.noresult')}"
						style="margin-top:15px;margin-left:45px;">
						<listhead>							
							<listheader width="100%" label="${wf:getLabel('web.base.functionalities.transactions.table.idc')}" />
						</listhead>
						<template name="model">
							<listitem>							
								<listcell label="@bind(each.line)" />								
							</listitem>
						</template>
					</listbox>					

				    <listbox width="50%" id="jrnListBox" rows="5" hflex="1" vflex="1"
						model="@bind(vm.selectedDataHeader.jrn)"
						emptyMessage="${wf:getLabel('web.base.functionalities.transactions.table.jrn.noresult')}"
						style="margin-top:15px;">
						<listhead>							
							<listheader width="100%" label="${wf:getLabel('web.base.functionalities.transactions.table.jrn')}" />
						</listhead>
						<template name="model">
							<listitem>									
								<listcell label="@bind(each.line)" style="font-family:monospace;"   />													
							</listitem>
						</template>
					</listbox>	
					
				</hbox> 

				<vbox hflex="1" align="center" pack="center" height="70px" >		
					<hbox hflex="1" align="center" pack="center" width="100%" height="70px" >
						<button width="100px" height="30px" visible="false" id="btnExport"
							label="${wf:getLabel('web.base.functionalities.transactions.button.export')}" image="/resources/webfront/core/menumanager/duplicate.png"
							onClick="@command('exportIdcJrn')" mold="trendy">
						</button>

						<vbox spacing="10px" width="10px" />

						<button width="130px" height="30px" visible="false" id="btnPrintJrn"
							label="${wf:getLabel('web.base.functionalities.transactions.print.jrn')}" image="/resources/webfront/core/menumanager/duplicate.png"
							onClick="@command('printRowsJrn')" mold="trendy">
						</button>
					</hbox>

					<vbox height="20px" />
					<label value="@bind(vm.msgExportIdc)" style="font-weight: bold;" />
					<vbox height="10px" />
					<label value="@bind(vm.msgExportJrn)" style="font-weight: bold;" />
					<vbox height="20px" />
				</vbox>						
			</vbox>
			</vbox>
		</vbox>
	</div>
</zk>
