<?page contentType="text/html;charset=UTF-8"?>
<zk>
	<vbox align="center" width="100%" apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.documentsearch.DocumentSearchViewModel')">
		<div height="5px" />
		<vbox width="90%" hflex="1">
			<hbox sclass="titlebar" hflex="1" align="center" pack="center" width="100%">
				Invoice / Credit Note
			</hbox>	
			<hbox sclass="toolbar" hflex="1" align="center" pack="center" width="100%" visible="@load(vm.generated eq null)">
				<label>Document Number:</label>
				<intbox value="@bind(vm.documentNumberSearchField)"/>
				
				<label>TRN#:</label>
				<textbox value="@bind(vm.vatCodeSearchField)"/>
				
				<label>Fiscal Code:</label>
				<textbox value="@bind(vm.fiscalCodeSearchField)"/>
				
				<button width="100px" height="30px" label="Search" image="/resources/webfront/common/search.png" onClick="@command('search')" mold="trendy"/>
			</hbox>
				
			<vbox sclass="content" hflex="1" align="center" pack="center">	
				<listbox rows="5" emptyMessage="No document in the results list"
						model="@load(vm.documentList)" onSelect="@command('selectDocument')" selectedItem="@bind(vm.selectedDocument)">
					<listhead>
						<listheader label="Document Type" visible="@load(vm.reprint)"/>
						<listheader label="Document Code"/>
						<listheader label="Surname or Business Name"/>
						<listheader label="Fiscal Code"/>
						<listheader label="TRN#"/>
						<listheader label="Document Date"/>
					</listhead>
					<template name="model">
						<listitem>
							<listcell label="@load(each.documentType.description)" visible="@load(vm.reprint)"/>
							<listcell label="@load(each.documentCode)"/>
							<listcell label="@load(each.customer.lastNameCompanyName)"/>
							<listcell label="@load(each.customer.fiscalCode)"/>
							<listcell label="@load(each.customer.vatCode)"/>
							<listcell label="@load(each.creationDate) @converter(vm.dateConverter)"/>
						</listitem>
					</template>
				</listbox>
				
				<div height="5px" />
				
				<listbox rows="10" model="@load(vm.selectedDocument.documentDetails)" emptyMessage="No line in the selected document">
					<listhead>
						<listheader label="Item Code"/>
						<listheader label="Description" width="25%"/>
						<listheader label="Measure Unit"/>
						<listheader label="Quantity"/>
						<listheader label="Amount"/>
						<listheader label="Discount"/>
						<listheader label="Return" visible="@load(not vm.reprint)"/>
					</listhead>
					<template name="model">
						<listitem>
							<listcell label="@load(each.itemCode)"/>
							<listcell label="@load(each.description)"/>
							<listcell label="@load(each.measureUnit)"/>
							<listcell label="@load(each.quantity)"/>
							<listcell label="@load(each.amount) @converter(vm.centsToStringCurrencyConverter)" sclass="price"/>
							<listcell label="@load(each.discount) @converter(vm.centsToStringCurrencyConverter)" sclass="price"/>
							<listcell visible="@load(not vm.reprint)">
								<checkbox checked="false" value="@load(each.sequenceNumber)" onCheck="@command('toggleItemSelection', sequenceNumber=self.value)"/>
							</listcell>
						</listitem>
					</template>
				</listbox>
				
				<button height="30px" image="/resources/webfront/common/ok.png" mold="trendy" label="Proceed to Document Selection"
						disabled="@load((vm.selectedDocument eq null) or vm.selectedInvoiceItemsEmpty)" autodisable="self" onClick="@command('generate')"/>
			</vbox>
			
			<vbox sclass="content" hflex="1" visible="@load(vm.generated ne null)">
				<iframe width="98%" height="495px" content="@load(vm.generated)"/>
	   			
	   			<div height="5px" />
	   			
	   			<hbox>
		   			<button height="30px" image="/resources/webfront/common/ok.png" mold="trendy" label="Print Document"
			   				autodisable="self, doNotPrint" disabled="@load(vm.printDisabled)" onClick="@command('saveAndPrintCreditNote')" id="print"
			   				visible="@load(not vm.reprint)"/>
		   			<button height="30px" image="/resources/webfront/common/cancel.png" mold="trendy" label="Cancel Print"
		   					autodisable="self, print" disabled="@load(vm.printDisabled)" onClick="@command('back')" id="doNotPrint"/>
	   			</hbox>
	   		</vbox>
	   	</vbox>
	</vbox>
</zk>
