<?page contentType="text/html;charset=UTF-8"?>

<?xel-method prefix="wf" name="getLabel" class="com.ncr.webfront.core.language.WebFrontZkLabelsLocator"  signature="String getLabel(String)"?>
<zk>
	<!-- TODO x RELEASE 2.0 - DRY it up -->
	
	<include src="~./css/core/ui/multi-select.css.zul"/>
	
	<zscript><![CDATA[
		public void multiSelect(Label label, Listbox list, Div button) {
			multiSelectText(label, list);
			list.setVisible(!list.isVisible());
			multiSelectImage(button, !list.isVisible());
		}
		
		public void multiSelectText(Label label, Listbox list) {
			String text = "";
			
			for (Listitem li : list.getSelectedItems()) {
				Listcell lc = (Listcell) li.getChildren().get(0);
				
				text += lc.getLabel() + ", ";
			}
			
			label.setValue(text.replaceAll(", $", ""));
		}
		
		public void multiSelectImage(Div button, boolean open) {
			if (open) {
				button.setSclass("button");
			} else {
				button.setSclass("button close");
			}
		}
	]]></zscript>
	
	<vbox align="center" width="100%" height="100%" apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.reports.ReportBaseViewModel')">
		<div height="5px" />
		
		<vbox width="90%" hflex="1">
			<hbox sclass="titlebar" hflex="1" align="center" pack="center" width="100%">
				<label value="${wf:getLabel('web.base.functionalities.reportpromotions.titlepage')}"></label>
			</hbox>			
			<hbox sclass="toolbar" hflex="1" align="center" pack="center" width="100%">
				<label value="${wf:getLabel('web.base.functionalities.reportpromotions.from')}"></label>
				<datebox value="@bind(vm.from)"/>
				
				<label value="${wf:getLabel('web.base.functionalities.reportpromotions.to')}"></label>
				<datebox value="@bind(vm.to)"/>
				
				<label value="${wf:getLabel('web.base.functionalities.reportpromotions.type')}"></label>
				<div sclass="multiselect">
					<label id="promoTypeLabel" width="250px" height="20px" onClick="multiSelect(promoTypeLabel, promoTypeList, promoTypeButton)"/>
					<listbox id="promoTypeList" checkmark="true" multiple="true" visible="false" width="250px" height="150px"
							model="@load(vm.promoTypeList)" selectedItems="@bind(vm.selectedPromoTypeList)">
						<template name="model">
							<listitem style="z-index: 100">
								<listcell label="@load(each.value)"/>
							</listitem>
						</template>
					</listbox>
					<div id="promoTypeButton" sclass="button" onClick="multiSelect(promoTypeLabel, promoTypeList, self)"/>
				</div>
				
				<button width="100px" height="30px" label="${wf:getLabel('web.base.functionalities.reportpromotions.search')}" image="/resources/webfront/common/search.png" onClick="@command('generate')" autodisable="self" mold="trendy">
					<attribute name="onClick">
						if (promoTypeList.isVisible()) {
							Events.postEvent("onClick", promoTypeButton, null);
						}
					</attribute>
				</button>
			</hbox>
			<hbox sclass="content" hflex="1" width="100%">
				<listbox rows="10" model="@bind(vm.promoList)" selectedItem="@bind(vm.selectedPromo)"
						onSelect="@command('changeSelection')" emptyMessage="${wf:getLabel('web.base.functionalities.reportpromotions.nopromotions')}">						
					<listhead>
						<listheader label="${wf:getLabel('web.base.functionalities.reportpromotions.code')}" sort="auto(code)" sortDirection="ascending" width="150px"/>
						<listheader label="${wf:getLabel('web.base.functionalities.reportpromotions.typedescription')}" sort="auto(typeDescription)" width="250px"/>
						<listheader label="${wf:getLabel('web.base.functionalities.reportpromotions.title')}" sort="auto(title)"/>
					</listhead>
					<template name="model">
						<listitem>
							<listcell label="@load(each.code)"/>
							<listcell label="@load(each.typeDescription)"/>
							<listcell label="@load(each.title)"/>
						</listitem>
					</template>
				</listbox>
			</hbox>
		</vbox>
		
		<div height="5px"></div>
		<hbox sclass="titlebar" hflex="1" align="center" pack="center" width="100%" visible="@load(vm.selectedPromoDetailedDescription ne null)">
			<label value="@bind(vm.detail)"></label>
		</hbox>	
		<hbox sclass="content" hflex="1" align="center" pack="center" visible="@load(vm.selectedPromoDetailedDescription ne null)">
			<iframe hflex="1" width="100%" height="300px" content="@load(vm.selectedPromoDetailedDescription)"/>
		</hbox>
	</vbox>
</zk>
