<?page contentType="text/html;charset=UTF-8"?>

<zk>
		<vbox align="center" width="100%">
		<div height="5px" />

		<window width="100%" border="none"
			apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.invoicecustomermaintenance.InvoiceCustomerMaintenanceViewModel')"
			validationMessages="@id('vmsgs')"
			form="@id('fx') @load(vm.selectedCustomer) @save(vm.selectedCustomer, before='confirm')
						@validator('com.ncr.webfront.base.functionalities.invoicecustomermaintenance.CustomerValidator', customerToValidate=vm.selectedCustomer)">


				<vbox width="90%" hflex="1"
					visible="@load(vm.generatedInvoice eq null)">
					<div visible="@load(vm.invoice ne null)">
						<div class="rounded info" width="450px">
							Step 2 / 3 of Create Invoice: search (or
							create) and select the customer.
						</div>

						<div height="5px"></div>
					</div>

					<hbox sclass="titlebar" hflex="1" align="center"
						pack="center">
						Invoice Customer Maintenance
					</hbox>
					<hbox sclass="toolbar" hflex="1" align="center"
						pack="center">
						<label>Surname / Business Name:</label>
						<textbox disabled="@load(vm.inEditMode)"
							value="@bind(vm.lastNameCompanyNameSearchField)" />

						<label>Fiscal Code or TRN#:</label>
						<textbox disabled="@load(vm.inEditMode)"
							value="@bind(vm.fiscalOrVatCodeSearchField)" />

						<button disabled="@load(vm.inEditMode)"
							width="100px" height="30px" label="Search"
							image="/resources/webfront/common/search.png"
							onClick="@command('search')" mold="trendy" />

						<button disabled="@load(vm.inEditMode)"
							width="100px" height="30px" label="Add"
							image="/resources/webfront/common/add.png"
							onClick="@command('add')" mold="trendy" />
					</hbox>
					<hbox sclass="content" hflex="1" align="center"
						pack="center">
						<listbox rows="4" width="100%"
							emptyMessage="No customer in the result list"
							model="@load(vm.customerList)"
							selectedItem="@bind(vm.selectedCustomer)"
							disabled="@load(vm.inEditMode)">
							<listhead>
								<listheader width="120px"
									label="Customer Code" />
								<listheader
									label="Surname / Business Name" />
								<listheader width="160px"
									label="TRN#" />
								<listheader width="160px"
									label="Fiscal Code" />
							</listhead>
							<template name="model">
								<listitem
									disabled="@load(vm.inEditMode)">
									<listcell label="@load(each.id)" />
									<listcell
										label="@load(each.lastNameCompanyName)" />
									<listcell
										label="@load(each.vatCode)" />
									<listcell
										label="@load(each.fiscalCode)" />
								</listitem>
							</template>
						</listbox>
					</hbox>

					<div height="5px" />

					<hbox sclass="titlebar"
						visible="@load(vm.selectedCustomer ne null)" hflex="1"
						align="center" pack="center">
						Details
					</hbox>
					<hbox sclass="toolbar"
						visible="@load(vm.selectedCustomer ne null)" width="100%"
						hflex="1" pack="center" align="end">
						<label style="font-size:120%;">Customer:</label>
						<label style="font-size:120%;"
							value="@load(vm.selectedCustomer.lastNameCompanyName)" />
						<space spacing="300px" />

						<div visible="@load(vm.inEditMode)">
							<button height="30px" width="100px"
								label="Confirm" onClick="@command('confirm')"
								image="/resources/webfront/common/ok.png" mold="trendy" />
							<button height="30px" width="100px"
								label="Cancel" onClick="@command('cancel')"
								image="/resources/webfront/common/cancel.png" mold="trendy" />
						</div>
						<div visible="@load(not vm.inEditMode)">
							<button height="30px" width="100px"
								label="Edit" onClick="@command('edit')"
								image="/resources/webfront/common/edit.png" mold="trendy" />
							<button height="30px" width="100px"
								label="Delete" onClick="@command('delete')"
								image="/resources/webfront/common/delete.png" mold="trendy" />
						</div>
					</hbox>

					<hbox sclass="content" align="center" pack="center"
						visible="@load(vm.selectedCustomer ne null)" width="95%"
						hflex="1">
						<div height="5px" />
						<vbox width="170px"
							heights="25px, 25px, 25px, 25px, 25px, 25px, 25px, 25px">
							<label>Customer Code:</label>
							<label>Surname / Business Name:</label>
							<label>Customer Type:</label>
							<label>TRN#:</label>
							<label>Fiscal Code:</label>
							<label>Loyalty Card:</label>
							<label>Exemption Code:</label>
						</vbox>
						<vbox
							heights="25px, 25px, 25px, 25px, 25px, 25px, 25px, 25px">
							<textbox disabled="true"
								value="@load((vm.selectedCustomer.id > 0) ? vm.selectedCustomer.id : '')" />
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['lastNameCompanyName'])"
								value="@bind(vm.selectedCustomer.lastNameCompanyName)" />
							<listbox mold="select"
								disabled="@load(not vm.inEditMode)"
								model="@load(vm.customerTypes)"
								selectedItem="@bind(vm.selectedCustomer.customerType)">
								<template name="model">
									<listitem>
										<listcell
											label="@load(each.description)" />
									</listitem>
								</template>
							</listbox>
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['vatCode'])"
								value="@bind(vm.selectedCustomer.vatCode)" />
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['fiscalCode'])"
								value="@bind(vm.selectedCustomer.fiscalCode)" />
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['fidelityCode'])"
								value="@bind(vm.selectedCustomer.fidelityCode)" />
							<listbox mold="select"
								disabled="@load(not vm.inEditMode)" model="@load(vm.exemptions)"
								selectedItem="@bind(vm.selectedCustomer.exemption)">
								<template name="model">
									<listitem>
										<listcell
											label="@load(each.description)" />
									</listitem>
								</template>
							</listbox>
						</vbox>

						<div width="200px" />

						<vbox width="170px"
							heights="25px, 25px, 25px, 25px">
							<label>Address:</label>
							<label>City:</label>
							<label>Postal Code:</label>
						</vbox>
						<vbox heights="25px, 25px, 25px, 25px">
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['customerAddress.street'])"
								value="@bind(vm.selectedCustomer.customerAddress.street)" />
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['customerAddress.city'])"
								value="@bind(vm.selectedCustomer.customerAddress.city)" />
							<textbox disabled="@load(not vm.inEditMode)"
								errorMessage="@load(vmsgs['customerAddress.postalCode'])"
								value="@bind(vm.selectedCustomer.customerAddress.postalCode)" />
						</vbox>
					</hbox>

					<div height="5px" />

					<hbox visible="@load(vm.invoice ne null)">
						<button height="30px"
							image="/resources/webfront/common/cancel.png" mold="trendy"
							label="Cancel Invoice" disabled="@load(vm.inEditMode)"
							onClick="@command('back')" />
						<button height="30px"
							image="/resources/webfront/common/ok.png" mold="trendy"
							label="Generate Invoice"
							disabled="@load((vm.selectedCustomer eq null) || vm.inEditMode)"
							autodisable="self" onClick="@command('generateInvoice')" />
					</hbox>

				</vbox>

			<div width="95%"
				visible="@load(vm.generatedInvoice ne null)"
				style="min-width: 910px">
				<div class="rounded viewing">
					<iframe width="100%" height="595px"
						content="@load(vm.generatedInvoice)" />
				</div>

				<div height="5px"></div>

				<button height="30px"
					image="/resources/webfront/common/cancel.png" mold="trendy"
					label="Cancel Document" onClick="@command('back')"
					id="backToStart" />
				<button height="30px"
					image="/resources/webfront/common/cancel.png" mold="trendy"
					label="Back to Customer Selection"
					onClick="@command('backToUserSelection')" id="backOneStep" />
				<button height="30px"
					image="/resources/webfront/common/ok.png" mold="trendy"
					label="Print Document"
					autodisable="+self, +backOneStep, +backToStart"
					onClick="@command('saveAndPrintInvoice')" id="print" />
			</div>
		</window>
	</vbox>
</zk>
