<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<?xel-method prefix="wf" name="getLabel" class="com.ncr.webfront.core.language.WebFrontZkLabelsLocator" signature="String getLabel(String)"?>

<zk>
	<vbox align="center" width="100%">
		<div height="5px" />
		<window width="100%" border="none"
			apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.endofdayhistory.EndOfDayHistoryViewModel')">

			<vbox width="90%" hflex="">
				<hbox sclass="titlebar" hflex="1" align="center"
					pack="center" width="100%">
				</hbox>
				<hbox widths="40%,20%,20%,20%" sclass="toolbar"
					hflex="1" align="center" pack="center" width="100%">
					<hbox width="100%" align="center"
						style="padding-top:2px;">
						<hbox height="10px"></hbox>
						<label>${wf:getLabel('web.base.functionalities.endofdayhistory.select')}</label>
						<combobox id="cmbAvailableHistories"
							width="150px" readonly="true"
							model="@load(vm.eodStatusHistoryList)"
							selectedItem="@bind(vm.selectedEodStatusHistory)">
							<template name="model">
								<comboitem
									label="@load(each.eodStartDateTime) @converter(vm.dateConverter)" />
							</template>
						</combobox>
						<hbox height="10px"></hbox>
					</hbox>
					<vbox width="100%" align="center"
						style="padding-top:2px;">
						<label>${wf:getLabel('web.base.functionalities.endofdayhistory.datebeg')}</label>
						<label style="font-weight:bold"
							value="@load(vm.selectedEodStatusHistory.eodStartDateTime) @converter(vm.dateConverter)" />
					</vbox>
					<vbox width="100%" align="center">
						<label>${wf:getLabel('web.base.functionalities.endofdayhistory.dateend')}</label>
						<label style="font-weight:bold"
							value="@load(vm.selectedEodStatusHistory.eodEndDateTime) @converter(vm.dateConverter)" />
					</vbox>
					<vbox width="100%" align="center">
						<label>${wf:getLabel('web.base.functionalities.endofdayhistory.status')}</label>
						<label style="font-weight:bold"
							value="@load(vm.selectedEodStatusHistoryDescription)" />
					</vbox>
				</hbox>
				<hbox sclass="content" hflex="1" width="100%">
					<div
						visible="@load(vm.eodStatusHistoryRecordSelected)" width="100%"
						height="90%">
						<tree height="@load(vm.treeHeight)"
							model="@load(vm.eodTree)" itemRenderer="@load(vm.treeRenderer)" />
					</div>
				</hbox>
			</vbox>
		</window>
	</vbox>
</zk>
