<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<?xel-method prefix="wf" name="getLabel" class="com.ncr.webfront.core.language.WebFrontZkLabelsLocator"  signature="String getLabel(String)"?>

 <zk>
	<vbox align="center" width="100%">
		<div height="5px" />

		<window width="100%" border="none"
			apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.departmentmaintenance.DepartmentMaintenanceViewModel')"
			validationMessages="@id('vmsgs')"
			form="@id('fx') @load(vm.selectedDepartment) @save(vm.selectedDepartment, before='confirm') 
				@validator('com.ncr.webfront.base.functionalities.departmentmaintenance.DepartmentValidator', departmentToValidate=vm.selectedDepartment)">

			<vbox align="center" width="100%" height="100%">
				<hbox sclass="titlebar" hflex="1" align="center"
					pack="center" width="100%">
					<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.list-title')}</label>										
				</hbox>

				
				<hbox sclass="content" hflex="1" align="center"
					pack="center" width="100%">
					<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.code')}</label>					
					<textbox value="@bind(vm.departmentCodeSearchField)"
						disabled="@load(vm.displayEdit or vm.displayAdd)" />						
					<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}</label>				
					<textbox value="@bind(vm.mainCodeSearchField)"
						disabled="@load(vm.displayEdit or vm.displayAdd)" />
					<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}</label>
					<textbox value="@bind(vm.descriptionSearchField)"
						disabled="@load(vm.displayEdit or vm.displayAdd)" />
					
					<button width="100px" height="30px" label="${wf:getLabel('web.base.functionalities.departmentmaintenance.search')}"
						image="/resources/webfront/common/search.png"
						onClick="@command('search')"
						disabled="@load(vm.displayEdit or vm.displayAdd)" mold="trendy" />
					<button width="100px" height="30px" id="newItemBtn"
						label="${wf:getLabel('web.base.functionalities.departmentmaintenance.add')}" image="/resources/webfront/common/add.png"
						onClick="@command('add')"
						disabled="@load(vm.displayEdit or vm.displayAdd)"
						visible="@load(not vm.readOnly)" mold="trendy" />
				</hbox>
				
				<hbox sclass="content" hflex="1" width="100%">
					<listbox id="departmentListBox" rows="10"
						model="@bind(vm.departmentList)"
						emptyMessage="${wf:getLabel('web.base.functionalities.departmentmaintenance.noresults')}"
						selectedItem="@bind(vm.selectedDepartment)"
						disabled="@load(vm.displayEdit or vm.displayAdd)">
						<listhead>
							<listheader width="20%"
								 label="${wf:getLabel('web.base.functionalities.departmentmaintenance.code')}" />
 							<listheader 
								label="${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}" />
							<listheader sort="auto(description)"
								label="${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}" />

						</listhead>
						<template name="model">
							<listitem
								disabled="@load(vm.displayEdit or vm.displayAdd)">
								<listcell
									label="@load(each.code)" />
								<listcell
									label="@load(each.total)" />
								<listcell
									label="@load(each.description)" />

							</listitem>
						</template>
					</listbox>
				</hbox>
			</vbox>
			<vbox
				visible="@load(vm.selectedDepartment ne null and !vm.displayEdit and !vm.displayAdd)"
				width="100%">
				<hbox sclass="titlebar" hflex="1" align="center"
					pack="center" width="100%">
					<label value="${wf:getLabel('web.base.functionalities.departmentmaintenance.details')}"></label>
				</hbox>
				<hbox sclass="toolbar" pack="center" width="100%" hflex="1">
					<label style="font-size:90%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.code')}"></label>
					<label style="font-size:90%;" value="@load(vm.selectedDepartment.code)" />
					<space spacing="20px" bar="true" />
					<label style="font-size:90%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}"></label>
					<label style="font-size:90%;" value="@bind(vm.selectedDepartment.total)" width="250px" />
					<space spacing="20px" bar="true" />
					<label style="font-size:90%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}"></label>
					<label style="font-size:90%;" value="@bind(vm.selectedDepartment.description)" width="250px" />


					<space spacing="190px" />
					<button id="editItemBtn" height="30px" width="100px"
						label="${wf:getLabel('web.base.functionalities.departmentmaintenance.edit')}" onClick="@command('edit')"
						image="/resources/webfront/common/edit.png"
						visible="@load(not vm.readOnly)" mold="trendy" />
					<button id="deleteItemBtn" height="30px"
						width="100px" label="${wf:getLabel('web.base.functionalities.departmentmaintenance.delete')}" onClick="@command('delete')"
						image="/resources/webfront/common/delete.png"
						visible="@load(not vm.readOnly)" mold="trendy" />
					<space spacing="300px" visible="@load(vm.readOnly)" />
				</hbox>
				
	   			<hbox sclass="content" width="100%" hflex="1">
		   			<vbox id="labelsViewBox1" width="120px" heights="25px, 25px, 25px">
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.code')}</label>
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}</label>
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}</label>
		   			</vbox>
		   			<vbox id="valuesViewBox1" width="170px" heights="25px, 25px, 25px">
		   				<label value="@load(vm.selectedDepartment.code)"/>
		   				<label value="@load(vm.selectedDepartment.total)"/>
		   				<label value="@load(vm.selectedDepartment.description)"/>
		   			</vbox>
		   		</hbox>
			</vbox>
			
		   	<vbox width="100%" visible="@load(vm.selectedDepartment ne null and vm.displayEdit)">
		   		<hbox sclass="titlebar" hflex="1" align="center" pack="center" width="100%" >
					<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.details')}</label>
				</hbox>	
				<hbox sclass="toolbar" id="buttonsEditBox" pack="center" width="100%" hflex="1">
						<label style="font-size:120%;">${wf:getLabel('web.base.functionalities.departmentmaintenance.code')} </label>
						<label style="font-size:120%;" value="@load(vm.selectedDepartment.code)" />
						<space spacing="30px"/>
						<label style="font-size:120%;">${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')} </label>
						<label style="font-size:120%;" value="@load(vm.selectedDepartment.total)" />
						<space spacing="30px"/>
						<label style="font-size:120%;">${wf:getLabel('web.base.functionalities.departmentmaintenance.description')} </label>
						<label style="font-size:120%;" value="@load(vm.selectedDepartment.description)" />
		   				
		   				<button id="confirmEditBtn" height="30px" width="100px" label="${wf:getLabel('web.base.functionalities.departmentmaintenance.confirm')}" onClick="@command('confirm')" image="/resources/webfront/common/ok.png" mold="trendy"/>
		   				<button id="cancelEditBtn" height="30px" width="100px" label="${wf:getLabel('web.base.functionalities.departmentmaintenance.cancel')}" onClick="@command('cancel')" image="/resources/webfront/common/cancel.png" mold="trendy"/>
		   			</hbox>
	   			<hbox sclass="content" width="100%" hflex="1">
		   			<vbox id="labelsEditBox1" width="120px" heights="25px, 25px">
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}</label>
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}</label>

		   			</vbox>
		   			<vbox id="valuesEditBox1" width="170px" heights="25px, 25px">
		   				<textbox id="editDescription" value="@bind(vm.selectedDepartment.description)" />
			   			<textbox id="editMaincode" value="@bind(vm.selectedDepartment.total)" />
		   			</vbox>
		   		</hbox>
		    </vbox>
			
		   	<vbox width="100%"  visible="@load(vm.selectedDepartment ne null and vm.displayAdd)" >
		   		<hbox sclass="titlebar" hflex="1" align="center" pack="center" width="100%" >
					<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.details')}</label>
				</hbox>	
				<hbox sclass="toolbar" id="buttonsAddBox" pack="center" width="100%" hflex="1" >
						<label style="font-size:120%;">${wf:getLabel('web.base.functionalities.departmentmaintenance.code')} </label>
						<label style="font-size:120%;" value="@load(vm.selectedDepartment.code)" />
						<space spacing="30px"/>
						<label style="font-size:120%;">${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')} </label>
						<label style="font-size:120%;" value="@load(vm.selectedDepartment.total)" />
						<space spacing="30px"/>
						<label style="font-size:120%;">${wf:getLabel('web.base.functionalities.departmentmaintenance.description')} </label>
						<label style="font-size:120%;" value="@load(vm.selectedDepartment.description)" />
		   				
		   				<button id="confirmAddBtn" height="30px" width="100px" label="${wf:getLabel('web.base.functionalities.departmentmaintenance.confirm')}" onClick="@command('confirm')" image="/resources/webfront/common/ok.png" mold="trendy"/>
		   				<button id="cancelAddBtn" height="30px" width="100px" label="${wf:getLabel('web.base.functionalities.departmentmaintenance.cancel')}" onClick="@command('cancel')" image="/resources/webfront/common/cancel.png" mold="trendy"/>
		   			</hbox>
	   			<hbox sclass="content" width="100%" hflex="1">
		   			<vbox id="labelsAddBox1" width="120px" heights="25px, 25px">
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.code')}</label>
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}</label>
		   				<label>${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}</label>
		   			</vbox>
		   			<vbox id="valuesAddBox1" width="170px" heights="25px, 25px">
		   				<textbox id="addcode" value="@bind(vm.code)" />
		   				<textbox id="addMaincode" value="@bind(vm.maincode)" />
		   				<textbox id="addDescription" value="@bind(vm.description)" />			   			
		   			</vbox>
		   		</hbox>
		    </vbox>

<!-- 
			<vbox id="DepartmentDetailsEdit" visible="@load(vm.selectedDepartment ne null and (vm.displayEdit))" width="100%">
				<hbox sclass="titlebar" hflex="1" align="center"
					pack="center" width="100%">
					<label value="${wf:getLabel('web.base.functionalities.departmentmaintenance.details')}"></label>
				</hbox>
				<hbox id="buttonsEditBox" sclass="content" hflex="1"
					align="center" pack="center" width="100%">
					<label style="font-size:120%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.department')}"></label>
					<label style="font-size:120%;" value="@load(vm.selectedDepartment.code)" />
					
					<space spacing="20px" bar="true" />
					
					<label style="font-size:120%;"
						value="@load(vm.selectedDepartment.description)" width="250px" />
					<space spacing="190px" />
					<button id="confirmBtn" height="30px" width="100px"
						label="${wf:getLabel('web.base.functionalities.departmentmaintenance.confirm')}" onClick="@command('confirm')"
						image="/resources/webfront/common/ok.png" mold="trendy" />
					<button id="cancelBtn" height="30px" width="100px"
						label="${wf:getLabel('web.base.functionalities.departmentmaintenance.cancel')}" onClick="@command('cancel')"
						image="/resources/webfront/common/cancel.png" mold="trendy" />
				</hbox>
			</vbox>
			
			<vbox id="DepartmentDetailsAdd"
				visible="@load(vm.selectedDepartment ne null and (vm.displayAdd))"
				width="100%">
				<hbox sclass="titlebar" hflex="1" align="center"
					pack="center" width="100%">
					<label value="${wf:getLabel('web.base.functionalities.departmentmaintenance.details')}"></label>
				</hbox>
				<hbox id="buttonsAddBox" sclass="content" hflex="1"
					align="center" pack="center" width="100%">
					<label style="font-size:100%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.department')}"> </label>
					<space spacing="10px" />
					<label style="font-size:120%;" value="@load(vm.departmentCodeSearchField)" />
					
					<space spacing="20px" bar="true" />

					<label style="font-size:100%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.maincode')}"> </label>
					<space spacing="10px" />
					<label style="font-size:120%;" value="@load(vm.mainCodeSearchField)" width="250px" />
					
					<space spacing="20px" bar="true" />
					
					<label style="font-size:100%;" value="${wf:getLabel('web.base.functionalities.departmentmaintenance.description')}"> </label>
					<space spacing="10px" />
					<label style="font-size:120%;" value="@load(vm.descriptionSearchField)" width="250px" />					
					
					<space spacing="190px" />
					
					<button id="confirmAddBtn" height="30px" width="100px"
						label="${wf:getLabel('web.base.functionalities.departmentmaintenance.confirm')}" onClick="@command('confirm')"
						image="/resources/webfront/common/ok.png" mold="trendy" />
					<button id="cancelAddBtn" height="30px" width="100px"
						label="${wf:getLabel('web.base.functionalities.departmentmaintenance.cancel')}" onClick="@command('cancel')"
						image="/resources/webfront/common/cancel.png" mold="trendy" />
				</hbox>
			</vbox>
			
			-->
		</window>
	</vbox>
</zk>