<?page title="RAPPORTO ATTIVIT&Agrave; ORARIA" contentType="text/html;charset=UTF-8"?>

<?xel-method prefix="wf" name="getLabel" class="com.ncr.webfront.core.language.WebFrontZkLabelsLocator"  signature="String getLabel(String)"?>
<zk>
	<!-- TODO x RELEASE 2.0 - DRY it up -->
	
	<include src="~./css/core/ui/multi-select.css.zul"/>
	
	<zscript><![CDATA[
		public void multiSelect(Label label, Listbox list, Div button) {
			multiSelectText(label, list);
			list.setVisible(!list.isVisible());
			multiSelectImage(button, !list.isVisible());
		}
		
		public void multiSelectText(Label label, Listbox list) {
			String text = "";
			
			for (Listitem li : list.getSelectedItems()) {
				Listcell lc = (Listcell) li.getChildren().get(0);
				
				text += lc.getLabel() + ", ";
			}
			
			label.setValue(text.replaceAll(", $", ""));
		}
		
		public void multiSelectImage(Div button, boolean open) {
			if (open) {
				button.setSclass("button");
			} else {
				button.setSclass("button close");
			}
		}
	]]></zscript>
	
	<vbox height="90%" width="100%" apply="org.zkoss.bind.BindComposer"
				viewModel="@id('vm') @init('com.ncr.webfront.base.functionalities.reporthourlyactivity.ReportHourlyActivityViewModel')">
		<div height="5px" />
		<vbox  width="90%" hflex="1">
			<hbox sclass="titlebar" hflex="1" align="center" pack="center" width="100%">
				<label>${wf:getLabel('web.base.functionalities.reporthourlyactivity.title')}</label>	
			</hbox>
			<hbox sclass="toolbar" hflex="1" align="center" pack="center" width="100%">
				<label value="${wf:getLabel('web.base.functionalities.reporthourlyactivity.consolidated')}"></label>
				<checkbox checked="@bind(vm.consolidated)" onClick="@command('adjustDate')"/>
				
				<label value="${wf:getLabel('web.base.functionalities.reporthourlyactivity.date')}"></label>
				<datebox value="@bind(vm.date)" constraint="@load(vm.dateConstraint)" disabled="@load(vm.dateDisabled)"/>
				<label value="${wf:getLabel('web.base.functionalities.reporthourlyactivity.terminals')}"></label>
				<div sclass="multiselect">
					<label id="posTerminalLabel" width="150px" height="20px" onClick="multiSelect(posTerminalLabel, posTerminalList, posTerminalButton)"/>
					<listbox id="posTerminalList" checkmark="true" multiple="true" visible="false" width="150px" height="100px"
							model="@load(vm.posTerminalList)" selectedItems="@bind(vm.selectedPosTerminalList)">
						<template name="model">
							<listitem>
								<listcell label="@load(each.terminalCode)"/>
							</listitem>
						</template>
					</listbox>
					<div id="posTerminalButton" sclass="button" onClick="multiSelect(posTerminalLabel, posTerminalList, self)"/>
				</div>
				<label value="@bind(vm.formatLbl)"></label>
				<listbox mold="select" model="@load(vm.formatList)" selectedItem="@bind(vm.selectedFormat)">
					<template name="model">
						<listitem>
							<listcell label="@load(each)"/>
						</listitem>
					</template>
				</listbox>
				<button width="100px" height="30px" label="${wf:getLabel('web.base.functionalities.reporthourlyactivity.generate')}" image="/resources/webfront/common/search.png" onClick="@command('generate')" autodisable="self" mold="trendy">
					<attribute name="onClick">
						if (posTerminalList.isVisible()) {
							Events.postEvent("onClick", posTerminalButton, null);
						}
					</attribute>
				</button>
			</hbox>
			<hbox sclass="content" hflex="1" align="center" pack="center">
				<iframe hflex="1" style="width:100%; height: 410px" content="@load(vm.report)" height="@load(vm.reportHeight)"/>
			</hbox>
		</vbox>
	</vbox>
</zk>
