/* override css */
.z-window-embedded-header, .z-window-embedded-hl, .z-window-embedded-hm, .z-window-embedded-hr, .z-window-embedded-tl, .z-window-embedded-tr {
	background: #FFFFFF;
}

.z-groupbox-3d-hr {
	background: #FFFFFF; /* Old browsers */
}

.z-groupbox-3d-hl {
	border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}
.z-groupbox-3d-hm {
	border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.z-groupbox-3d-header .z-caption tbody tr td{
	font-size: 14px;
}

.z-groupbox-3d-cnt {
	border: 0;
}

.window-welcome,
.window-welcome .z-window-overlapped-hm, 
.window-welcome .z-window-overlapped-br, 
.window-welcome .z-window-overlapped-cr, 
.window-welcome .z-window-overlapped-cl, 
.window-welcome .z-window-overlapped-hr, 
.window-welcome .z-window-overlapped-tr, 
.window-welcome .z-window-overlapped-hl, 
.window-welcome .z-window-overlapped-cnt {
    border: 1 solid grey;
	border-radius: 0;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.closedmenu {
	background-color:#6FB644; 
    text-align: center;
    font-size: 12px;
    color: white;
	border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border: solid 1px #CCCCCC;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	width:30px; height: 200px;
	margin-left: -10px; margin-top: 200px; margin-bottom: 10px;
}
.verticalmenu {
	width: 20px; height: 100px; margin-left: 10px;
    background-image: url('../webfront/core/menuicons/menu.png');
}

.maindiv {
	margin-left: 25px; margin-right: 25px;
}


.titlebar {
	border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    
	background-color:#6FB644; 
    border: solid 1px #CCCCCC;
    height: 24px;
    text-align: center;
    font-size: 12px;
    color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	margin-left: 25px; margin-right: 25px;
}

.toolbar {
	border-left: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
	height: 32px;
	padding: 2px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	margin-left: 25px; margin-right: 25px;
}
.content {
	border: solid 1px #CCCCCC;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
	margin-left: 25px; margin-right: 25px; margin-bottom: 10px;
}
.nomargin_left {
	margin-left: 0 !important;
}
.rounded {
	border: solid 1px #CCCCCC;
}
.viewing {
	background: #FFFFFF; /* Old browsers */
}
.editing {
	background: #FFFFFF;
	box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
}
.info {
	background: #FFFF00;
}
.white {
	background: #FFFFFF;
}

.z-toolbarbutton-cnt {
	font-size: 12px;
	width: 220px;
}

.z-vbox-sep {
	height: 0 !important;
}
.price {
	text-align: right;
}

.z-listbox-header {
	width: 100% !important;
}

.about .version.label {
	font-size: 18px;
	font-weight: bold;
	color: white;
}
.about .copyright.label {
	font-size: 14px;
	color: white;
}
/*
.auth-request.pending {
	background: #FAA84E;
    color: black;
    background-image: url('../webfront/base/endofday/pending-100x100.png');
}
.auth-request.pending:hover {
	background: #FAA84E;
    color: black;
    background-image: url('../webfront/base/endofday/pending-100x100_over.png');
}


.auth-request.authorized {
	background: green;
    color: white;
    background-image: url('../webfront/base/endofday/authorized-100x100.png');
}
.auth-request.authorized:hover {
	background: green;
    color: white;
    background-image: url('../webfront/base/endofday/authorized-100x100_over.png');
}


.auth-request.wait,
.auth-request.cancelled {
	background: yellow;
	background-image: url('../webfront/base/endofday/wait-100x100.png');
}
.auth-request.wait:hover,
.auth-request.cancelled: hover {
	background: yellow;
	background-image: url('../webfront/base/endofday/wait-100x100_over.png');
}


.auth-request.refused {
	background: darkred;
	color: white;
	background-image: url('../webfront/base/endofday/refused-100x100.png');
}
.auth-request.refused:hover {
	background: darkred;
	color: white;
	background-image: url('../webfront/base/endofday/refused-100x100_over.png');
}

.auth-request span {
    font-size: 18px;
}
.auth-request .z-button img {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	margin-right: 5px;
}*/
.outerdiv {
	height:100%;
	background-size: 100% 100%;
	background-image: url('../webfront/common/background.jpg');
}
.textlogin {
    border: 2px solid #C0C0C0;
	height:23px;
	width:180px;	
	font-size:14px;
}

.div_label {
	font-size:16px;
}

.login-maindiv {
	height:162px;
	width:364px;
    background-image: url('../webfront/core/login/login_grid.png');
}

.window-login,
.window-login .z-window-overlapped-hm-noborder, 
.window-login .z-window-overlapped-br-noborder, 
.window-login .z-window-overlapped-cr-noborder, 
.window-login .z-window-overlapped-cl-noborder, 
.window-login .z-window-overlapped-hr-noborder, 
.window-login .z-window-overlapped-tr-noborder, 
.window-login .z-window-overlapped-hl-noborder, 
.window-login .z-window-overlapped-cnt-noborder {
    background: transparent;
    border: 0 none;
	border-radius: 0px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 0px;
	-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}
.upbar {
	height:48px;
	background-color:#6FB644; 
	margin-left: 25px; margin-right: 25px;
}
.downbar {
	height:32px;
	background-color:#6FB644;
	margin-left: 25px; margin-right: 25px;
}
.groupbox {
	color: white;
	background-color:#6FB644;
}

.menuItem .z-toolbarbutton-body .z-toolbarbutton-cnt {
	font-size: 12px;
}

.z-window-overlapped-cnt-noborder {
	background: transparent;
	padding: 0px;
}
.z-window-overlapped-shadow {
	box-shadow: none;
}
